{ "targets": [ "prom.{{dtt_deployment.name }}.stsoss.{{ dit_project_location }}.gic.ericsson.se" ], "labels":{"program" : "DETS", "dc" : "{{ dit_pod_name }}", "vpod" : "v{{ dit_pod.name | regex_search('POD.*') }}", "cluster_id" : "{{ dtt_name }}", "team" : "Elementals" } },
