###=== META INFO START ===###
# git-ops-meta-info:
#     version: {{ ccd_version }}
#     build-number: {{ build_number }}
#     user: {{ job_user }}
#     job_link: {{ job_link }}
###=== META INFO END ===###
